# EDA Basico

Este notebook realiza un EDA general del dataset **antes** de aplicar técnicas de minería de texto.

## Importación de Librerias

In [1]:
import warnings
from src.utils import path
import pandas as pd
# Suppress all warnings
warnings.filterwarnings("ignore")

## Carga de DataSet

In [25]:
directorio_proyecto = path.obtener_ruta_local()
df = pd.read_csv(directorio_proyecto+'\\data\\raw\\spotify_millsongdata.csv',delimiter = ',',decimal = ".", encoding='utf-8')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

## Información General del Dataset

In [27]:
df.drop('link', axis = 1, inplace = True)

In [28]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  str
 1   song    57650 non-null  str
 2   text    57650 non-null  str
dtypes: str(3)
memory usage: 69.9 MB

In [29]:
df.shape

(57650, 3)

In [30]:
df.dtypes.value_counts()

str    3
Name: count, dtype: int64

In [31]:
df.artist.value_counts()

artist
Donna Summer        191
Gordon Lightfoot    189
Bob Dylan           188
George Strait       188
Alabama             187
                   ...
Zazie                 2
U-Kiss                1
X-Treme               1
Zed                   1
Zoe                   1
Name: count, Length: 643, dtype: int64

In [32]:
df_describe=df.describe()
df_describe.T

        count unique                                                top freq
artist  57650    643                                       Donna Summer  191
song    57650  44824             Have Yourself A Merry Little Christmas   35
text    57650  57494  Chestnuts roasting on an open fire  \r\nJack F...    6

## Análisis de Valores Faltantes

In [33]:
df.isnull().sum()

artist    0
song      0
text      0
dtype: int64

## Análisis de Duplicados

In [34]:
df.duplicated().sum()

np.int64(0)

## Guardar dataset

In [36]:
df.rename(columns={'artist':'musico','song':'nombre_cancion','text':'letra_cancion'}, inplace=True)
df

,musico,nombre_cancion,letra_cancion
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
...,...,...,...
57645,Ziggy Marley,Good Old Days,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,come in \r\nmake yourself at home \r\ni'm a ...

In [37]:
df.to_csv(directorio_proyecto+'\\data\\processed\\corpus_spotify.csv', index=False)